<div class="container">

    <div class="row tab-section">
        <div class="col-8">
            <ul class="nav nav-tabs tab-part">
                <li class="active"><a data-toggle="tab" href="/following-tab" id="menu1" class="tab-link">FOLLOWING</a>
                </li>
                <li class="for-tab"><a data-toggle="tab" href="#menu2" class="tab-link"> FOR YOU</a></li>
            </ul>
        </div>
        <div class="col-4">
            <div>
                <p class="">LIVE AUCTIONS</p>
                <img src="./assets/images/xero-alley.png" class="alleyImg" alt="image2" />
            </div>
            <div>
                <p class="mt-3">Xero Alley</p>
                <a [routerLink]="['/search']" class="nav-item nav-link text-dark active">@maddogjones</a>
                <img src="./assets/images/xero-alley.png" class="alleyImg" alt="image2" />
            </div>
        </div>
    </div>
    <div class="tab-content">
        <div class="row text-center tab-pane active" id="menu1">
            <p class="">You aren’t following anyone yet.</p>
        </div>
        <div class="row text-center tab-pane fade" id="menu2">
            <p class="">You aren’t following.</p>
        </div>
    </div>

</div>