<div class="">
    <div class="searchContent">
        <h1 class="searchHead">SEARCH</h1>
    </div>
    <div class="container m-5 p-5">
        <div class="input-group">
            <input type="text" class="form-control search-text" placeholder="Search for your favorite art or artist..."
                name="search">
            <!-- <label class="">Search for your favorite art or artist...</label> -->
        </div>
    </div>
    <div class="container trendingTagHead">
        <h5 class="">Trending Tags</h5>
    </div>
    <div class="container">
        <h5 class="">#animation</h5>
    </div>
    <div class="row trending-section m-5">
        <div class="col-md-3 col-12 col-xl-3">
            <div class="card m-1 text-center text-white ">
                <img src="assets/images/2.png" class="card-img" alt="1st-img">
            </div>
        </div>
        <div class="col-md-3 col-12 col-xl-3">
            <div class="card m-1 text-center text-white ">
                <img src="assets/images/3.png" class="card-img" alt="1st-img">
            </div>
        </div>
        <div class="col-md-3 col-12 col-xl-3">
            <div class="card m-1 text-center text-white ">
                <img src="assets/images/4.png" class="card-img" alt="1st-img">
            </div>
        </div>
    </div>
    <div class="container">
        <h5 class="">#surreal</h5>
    </div>
    <div class="row trending-section m-5">
        <div class="col-md-3 col-12 col-xl-3">
            <div class="card m-1 text-center text-white ">
                <img src="assets/images/2.png" class="card-img" alt="1st-img">
            </div>
        </div>
        <div class="col-md-3 col-12 col-xl-3">
            <div class="card m-1 text-center text-white ">
                <img src="assets/images/3.png" class="card-img" alt="1st-img">
            </div>
        </div>
        <div class="col-md-3 col-12 col-xl-3">
            <div class="card m-1 text-center text-white ">
                <img src="assets/images/4.png" class="card-img" alt="1st-img">
            </div>
        </div>
    </div>
    <div class="container">
        <h5 class="">#3d</h5>
    </div>
    <div class="row trending-section m-5">
        <div class="col-md-3 col-12 col-xl-3">
            <div class="card m-1 text-center text-white ">
                <img src="assets/images/2.png" class="card-img" alt="1st-img">
            </div>
        </div>
        <div class="col-md-3 col-12 col-xl-3">
            <div class="card m-1 text-center text-white ">
                <img src="assets/images/3.png" class="card-img" alt="1st-img">
            </div>
        </div>
        <div class="col-md-3 col-12 col-xl-3">
            <div class="card m-1 text-center text-white ">
                <img src="assets/images/4.png" class="card-img" alt="1st-img">
            </div>
        </div>
    </div>
    <div class="container">
        <h5 class="">#photography</h5>
    </div>
    <div class="row trending-section m-5">
        <div class="col-md-3 col-12 col-xl-3">
            <div class="card m-1 text-center text-white ">
                <img src="assets/images/2.png" class="card-img" alt="1st-img">
            </div>
        </div>
        <div class="col-md-3 col-12 col-xl-3">
            <div class="card m-1 text-center text-white ">
                <img src="assets/images/3.png" class="card-img" alt="1st-img">
            </div>
        </div>
        <div class="col-md-3 col-12 col-xl-3">
            <div class="card m-1 text-center text-white ">
                <img src="assets/images/4.png" class="card-img" alt="1st-img">
            </div>
        </div>
    </div>
    <div class="container">
        <h5 class="">#illustration</h5>
    </div>
    <div class="row trending-section m-5">
        <div class="col-md-3 col-12 col-xl-3">
            <div class="card m-1 text-center text-white ">
                <img src="assets/images/2.png" class="card-img" alt="1st-img">
            </div>
        </div>
        <div class="col-md-3 col-12 col-xl-3">
            <div class="card m-1 text-center text-white ">
                <img src="assets/images/3.png" class="card-img" alt="1st-img">
            </div>
        </div>
        <div class="col-md-3 col-12 col-xl-3">
            <div class="card m-1 text-center text-white ">
                <img src="assets/images/4.png" class="card-img" alt="1st-img">
            </div>
        </div>
    </div>
    <div class="container">
        <h5 class="">#abstract</h5>
    </div>
    <div class="row trending-section m-5">
        <div class="col-md-3 col-12 col-xl-3">
            <div class="card m-1 text-center text-white ">
                <img src="assets/images/2.png" class="card-img" alt="1st-img">
            </div>
        </div>
        <div class="col-md-3 col-12 col-xl-3">
            <div class="card m-1 text-center text-white ">
                <img src="assets/images/3.png" class="card-img" alt="1st-img">
            </div>
        </div>
        <div class="col-md-3 col-12 col-xl-3">
            <div class="card m-1 text-center text-white ">
                <img src="assets/images/4.png" class="card-img" alt="1st-img">
            </div>
        </div>
    </div>
    <div class="container">
        <h5 class="">#surrealism</h5>
    </div>
    <div class="row trending-section m-5">
        <div class="col-md-3 col-12 col-xl-3">
            <div class="card m-1 text-center text-white ">
                <img src="assets/images/2.png" class="card-img" alt="1st-img">
            </div>
        </div>
        <div class="col-md-3 col-12 col-xl-3">
            <div class="card m-1 text-center text-white ">
                <img src="assets/images/3.png" class="card-img" alt="1st-img">
            </div>
        </div>
        <div class="col-md-3 col-12 col-xl-3">
            <div class="card m-1 text-center text-white ">
                <img src="assets/images/4.png" class="card-img" alt="1st-img">
            </div>
        </div>
    </div>
    <div class="bg-dark footerPart">
        <div class="container">
            <div class="footerHead">
                <h3 class="text-white header-text">Subscibe to our newsletter</h3>
            </div>
            <div class="form-container email-content">
            <input type="text" class="form-control text-white email-btn" placeholder="Email address" name="email">
            <button class="subscribeBtn text-white bg-dark">SUBSCRIBE</button>
            </div>
        <div class="row footer-section">
            <div class="col-3">
                <a class="link-text text-white" [routerLink]="['/']">SuperRare</a>
                <p class="text-white mt-3">2022 SuperRare</p>
            </div>
            <div class="col-3">
                <p class="text-white fw-bolder">COMMUNITY</p>
                <a class="link-subText text-white" href="/">Editorial</a>
                <a class="link-subText text-white" href="/">Discord</a>
                <a class="link-subText text-white" href="/">Instagram</a>
                <a class="link-subText text-white" href="/">Twitter</a>
                <a class="link-subText text-white" href="/">Blog</a>
                <a class="link-subText text-white" href="/">Help Center</a>
            </div>
            <div class="col-3">
                <p class="text-white fw-bolder">FOR ARTISTS</p>
                <a class="link-subText text-white" href="/">Submit artist profile</a>
            </div>
            <div class="col-3">
                <p class="text-white fw-bolder">LEGAL</p>
                <a class="link-subText text-white" href="/">Community Guidlines</a>
                <a class="link-subText text-white" href="/">Terms of Service</a>
                <a class="link-subText text-white" href="/">Privacy Policy</a>
                <a class="link-subText text-white" href="/">Report content</a>
                <a class="link-subText text-white" href="/">Bug Bounty Program</a>
            </div>
        </div>
    </div>
</div>